/*.cus-dropdown*/
/*{*/
/*background-color: #fff;*/
/*border: 1px solid rgba(0, 0, 0, 0.2);*/
/*font-family: Arial, sans-serif;*/
/*color: #2c2c2c;*/
/*outline: 0;*/
/*height: 35px;*/
/*padding: 4px 12px;*/
/*line-height: normal;*/
/*font-size: 14px;*/
/*font-weight: normal;*/
/*vertical-align: middle;*/
/*min-height: 35px;*/
/*}*/
.bg-primary {
  background-color: #0074d0 !important;
}
.color-primary {
  color: #0074d0 !important;
}
.btn-primary {
  background-color: #0074d0 !important;
  border-color: #0074d0 !important;
}
.btn-primary:hover {
  background-color: #0a548f !important;
}
.btn-primary:active {
  background-color: #0a548f !important;
}
.panel-heading a:not(.btn) {
  color: #626262 !important;
  opacity: 1 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-wrapper .bg-pic > img {
  height: 100%;
  opacity: 1 !important;
}
.fs-80 {
  font-size: 80px !important;
}
.fs-60 {
  font-size: 60px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.line-h {
  line-height: 30px !important;
}
.btn-submit {
  background-color: #4caf50 !important;
  color: #ffffff !important;
  border-color: #4caf50 !important;
}
.btn-submit:hover {
  background-color: #09c900 !important;
  border-color: #09c900 !important;
}
.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.border-t {
  border-top: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.border-l {
  border-left: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.border-r {
  border-right: 1px solid rgba(0, 0, 0, 0.07)!important;
}
.select2-search--dropdown {
  display: none !important;
}
.select2-results__group {
  display: none !important;
}
.col-scroll {
  height: 600px;
  overflow: auto;
}
/* .page-sidebar .sidebar-header {
  line-height: 50px !important;
} */
.page-sidebar .sidebar-menu .menu-items > li > a > .title {
  float: left;
  white-space: inherit;
  text-overflow: clip;
  overflow: visible !important;
  width: 65%;
}
.page-sidebar a {
  color: #d9d9d9 !important;
}
.page-sidebar a:hover {
  color: #0074d0 !important;
}
.page-sidebar {
    background-color: #0e526e;
}
.page-sidebar {
    background-color: #0074d0  !important;
}
.page-sidebar a:active {
  color: #0074d0 !important;
}
.page-sidebar .sidebar-header {
  background-color: #0074d0 !important;border-bottom: 1px solid rgb(255 255 255 / 19%)!important;
}
.icon-thumbnail {
  color: #d9d9d9 !important;
}
.page-sidebar [class*="bg-"] {
  color: #ffffff !important;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin-right: 33px !important;
}
.exportOptions {
  display: none;
}
.nav-tabs-fillup > li.active {
  background-color: #0074d0 !important;
  z-index: inherit !important;
  width: 20%;
  text-align: center;
}
.nav-tabs-fillup > li {
  width: 20%;
  text-align: center;
}
.nav-tabs-fillup > li > a:after {
  background: none repeat scroll 0 0 #0074d0 !important;
  border: 1px solid #0074d0 !important;
}
.nav-tabs-simple:after {
  bottom: 0 !important;
}
.align-middle {
  display: initial !important;
  line-height: 0 !important;
}
.table thead tr th {
  color: rgba(0, 0, 0, 1) !important;
}
.top-title{
margin-left: 270px;
}
.icon-thumbnail {
    background: #0074d0!important;
}
.bg-primary.icon-thumbnail{
background: #0a548f!important;
}
.booth-logo{
display:none;
}
.number-box{
  padding:4px 10px;
  border-radius: 2px;
  color:white;
}
.btn-group{
  display:flex;
  align-items: center;
}